/*Importar estilo*/
@font-face {
    font-family: 'Robot';
    src: url(../Font/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'Robot1';
    src: url(../Font/NotoSansJP-Regular.otf); 
}
/*Fin*/

/*Imagen total*/
body{
    background-image: url(../ImagenesWEB/1-BACKGROUND.jpg);
    background-position: center center; /*Para centar imagen*/
    background-repeat: no-repeat;/*Para que no se repita*/
    background-attachment: fixed;/*Para fijar la imagen*/
    background-size: cover;/*Rescala automatico el color*/
    background-color: #ffffff;/*Por si no carga*/
    height: 100%;
}
/*Fin*/

/*Letras*/
span{
    font-size: 2rem;
    color: white;
    font-family: 'Robot';
}
/*Fin*/
/*Modificacion a Input*/
#email,
#password{
    font-family: 'Robot1';
    font-size: 1.4rem;
    color: black;
}

input[type="submit"]{
    background-color: rgb(0, 156, 140);
}
input[type="reset"]{
    background-color: rgb(251, 186, 0);
}

input[type="submit"],
input[type="reset"]{
    border: none;
    border-radius: 5rem;
    width: 10rem;
    height: 3.5rem;
    font-family: 'Robot';
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
/*Fin*/


#contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#contenedor1{
    grid-column-start:2;
    grid-row-start: 2;
}
#contenedor2{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
}

#contenedor3{
    padding: 3.5rem;
}

#contenedorimagen,
#control{
    display: flex;
    justify-content: center;
    align-items: center;
}

#control{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#formulario{
    padding-left: 8.5rem;
    padding-right: 8.5rem;
}
form{
    display: flex;
    flex-direction: column;
}

#botones{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}